<!doctype html>
<html lang="en">
  <head>
    <!-- <% include partials/head %> -->
  </head>

  <body ng-app="booksApp">

    <header>
      <!-- <% include partials/header %> -->
    </header>

    <main>
  <div>
        <h2>Login</h2>

      <form ng-submit="ctrl.submit()">
          <div>Email:       <input type="text"     ng-model="ctrl.data.email"></div>
          <div>Password:    <input type="password" ng-model="ctrl.data.password"></div>
          <input type="submit"></div>
      </form>

   </div>


    </main>

    <footer>
      <!-- <% include partials/footer %> -->
    </footer>
  </body>
</html>
