<!doctype html>
<html lang="en">
  <head>
    <!-- <% include partials/head %> -->
  </head>

  <body ng-app="booksApp">

    <header>
      <!-- <% include partials/header %> -->
    </header>

    <main>
  <div>
        <h2>Add New Book</h2>

      <form ng-submit="ctrl.submit()">
          <div>Title:  <input type="text"     ng-model="ctrl.book.title"></div>
          <div>Year:   <input type="text"     ng-model="ctrl.book.year"></div>
          <div>PDF:    <input type="text"     ng-model="ctrl.book.pdf"></div>
          <div><input type="submit"></div>
      </form>

   </div>


    </main>

    <footer>
      <!-- <% include partials/footer %> -->
    </footer>
  </body>
</html>




<!-- {{ctrl.displayname}} -->
