<!doctype html>
<html lang="en">

<head>
    <!-- <% include partials/head %> -->
</head>

<body ng-app="booksApp">
    <header>
        <!-- <% include partials/header %> -->
    </header>
    <main>
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Add New Book</h2>
                        <div class="newbook">
                            <form ng-submit="ctrl.submit()">
                                <div>Title:
                                    <input type="text" ng-model="ctrl.book.title">
                                </div>
                                <div>Year:
                                    <input type="text" ng-model="ctrl.book.year">
                                </div>
                                <div>PDF URL:
                                    <input type="url" ng-model="ctrl.book.pdf">
                                </div>
                                <div>Image:
                                    <input type="url" ng-model="ctrl.book.img">
                                </div>
                                <div>
                                    <input type="submit">
                                </div>
                            </form>
                        </div>
                        <hr class="star-primary">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <!-- <% include partials/footer %> -->
    </footer>
</body>

</html>
<!-- {{ctrl.displayname}} -->
